/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

/**
 * TokyoNight colorscheme
 * Ref TBD
 */
:root {
    --color-accent: #3d59a1;
    --color-background: #1a1b26;
    --color-text: #c0caf5;
    --color-blue: rgb(122, 162, 247);
    --color-magenta: rgb(187, 154, 247);
    --color-orange: rgb(255, 158, 100);
    --color-yellow: rgb(224, 175, 104);
    --color-green: rgb(158, 206, 106);
    --color-teal: rgb(26, 188, 156);
    --color-red: rgb(255, 117, 127);
    --color-background2: #00000000;
}

/**
 * Kanagawa colorscheme
 * Ref TBD
 */
/*:root {*/
/*    --color-accent: #2d4f67;*/
/*    --color-background: #1f1f28;*/
/*    --color-text: #dcd7ba;*/
/*    --color-blue: #7e9cd8;*/
/*    --color-magenta: #957fb8;*/
/*    --color-orange: #ffa066;*/
/*    --color-yellow: #c0a36e;*/
/*    --color-green: #76946a;*/
/*    --color-teal: #6a9589;*/
/*    --color-red: #c34043;*/
/*    --color-background2: #00000000;*/
/*}*/

body,
button {
    color: var(--color-text);
    font-family:
        Iosevka Nerd Font,
        monospace;
    font-size: 14px;
    overflow: hidden;
}

html,
body,
#root {
    user-select: none;
    height: 100%;
}

#root {
    background: var(--color-background2);
}

.app {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    height: 100%;
    padding: 0 5px;
}

.left,
.center,
.right {
    display: flex;
    height: 25px;
    align-items: center;
    background-color: var(--color-background);
    border-radius: 4px;
}

.left {
    justify-self: start;

    .icon {
        color: var(--color-orange);
        padding-left: 8px;
    }

    .btn {
        &:hover {
            color: var(--color-blue) !important;
            background-color: transparent;
        }

        &.focused {
            color: var(--color-background);
            background-color: var(--color-blue);
        }
    }
}

.right {
    justify-self: end;
    grid-column: 3/4;
    padding: 0 8px;
}

.logo,
.binding-mode,
.network,
.memory,
.cpu,
.up-checker,
.awake,
.battery {
    margin-right: 15px;
    display: flex;
}

.tiling-direction .btn {
    transform: translateY(-1px);
    color: var(--color-blue);
}

.workspaces {
    display: flex;
    align-items: center;
    height: 100%;
}

.btn {
    padding: 0px 8px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
    border-radius: 4px;
    transition: all 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: var(--color-background) !important;
        background-color: var(--color-accent);
    }
}

.workspace__selector {
    position: absolute;
    transition: all 0.3s;
    transform: translateX(50%);
    background-color: var(--color-yellow);
    border-radius: 4px;
    height: 25px;
}

.workspace.focused {
    color: var(--color-background);
}

.workspace--secondary {
    color: var(--color-text);
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        background-color: var(--color-accent);
    }
}

.binding-mode {
    background: var(--color-background2);
    line-height: 1;
    padding: 4px 8px;
    border: 0;
    cursor: pointer;
}

.binding-mode {
    margin-right: 4px;
}

.cpu .high-usage {
    color: var(--color-red);
}

.battery {
    position: relative;
}

.battery .charging-icon {
    position: absolute;
    font-size: 7px;
    left: -8px;
    top: 3px;
}

@keyframes upCheckerLoader {
    0% {
        background-color: var(--color-red);
    }
    50% {
        background-color: var(--color-blue);
    }
    100% {
        background-color: var(--color-red);
    }
}

.up-checker {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .icon {
        height: 6px;
        width: 6px;
        border-radius: 100%;
    }

    .icon--loading {
        animation: upCheckerLoader 1s infinite alternate ease-in-out;
    }
}

.keyboard {
    margin-right: 10px;
}

.keyboard svg {
    height: 14px;
}

.center {
    display: flex;
    justify-self: center;

    &.media .btn {
        &:first-child,
        &:last-child {
            color: var(--color-magenta);
        }
    }

    .btn {
        display: flex;
        gap: 1ch;

        &.title {
            text-overflow: ellipsis;
        }

        & span {
            color: var(--color-magenta);
            transition: all 0.3s;
        }

        &:hover {
            background-color: var(--color-magenta);

            & span {
                color: var(--color-background);
            }
        }
    }
}

.icon {
    scale: 1.2;
    margin-right: 2ch;
    color: var(--color-accent);
}

.up-checker .icon {
    background-color: var(--color-blue);
    margin-right: 1ch;
}

.awake .icon {
    margin-right: 1ch;
    color: var(--color-orange);
    cursor: pointer;
}

.up-checker .icon--offline {
    background-color: var(--color-red);
}

.memory .icon {
    color: var(--color-magenta);
}

.cpu .icon {
    color: var(--color-teal);
}

.battery .icon {
    color: var(--color-yellow);
}

.clock .icon {
    color: var(--color-blue);
}
